@{
    ViewData["Title"] = "Odkazy";
}

<article>
    <div class="container">
        <section>
            <h2>Odkazy školy</h2>
            <ul>
                <li><a asp-action="Bakalari" target="_blank">Bakaláři</a></li>
                <li><a asp-action="Sps" target="_blank">SPŠ Trutnov</a></li>
                <li><a asp-action="KeStazeni" target="_blank">Dokumenty ke stažení</a></li>
                <li><a asp-action="Mail" target="_blank">E-Mail</a></li>
                <li><a asp-action="Data" target="_blank">Data</a></li>
            </ul>
        </section>
    </div>
</article>

<article>
    <div class="container">
        <section>
            <h2>Sociální sítě školy</h2>
            <ul>
                <li><a asp-action="Youtube" target="_blank">Youtube</a></li>
                <li><a asp-action="Github" target="_blank">GitHub</a></li>
            </ul>
        </section>
    </div>
</article>

<article>
    <div class="container">
        <section>
            <h2>Ostatní</h2>
            <ul>
                <li><a asp-action="Isic" target="_blank">ISIC - slevy</a></li>
                <li><a asp-action="GithubStudent" target="_blank">GitHub Student Developer Pack</a></li>
            </ul>
        </section>
    </div>
</article>