@{
    ViewData["Title"] = "Přihlášení";
}

<article>
    <div class="container">
        <h2>Přihlásit se</h2>
        <section>
            <form method="post" asp-action="Prihlaseni" asp-controller="Uzivatel">
                <input name="mail" placeholder="Zadejte svůj školní e-mail..." type="email" required="required"/>
                <input name="heslo" placeholder="Zadejte heslo..." type="password" required="required"/>
                @if (ViewData["chyba"] != "")
                {
                    <div class="error">@ViewData["chyba"]</div>
                }
                @if (ViewData["hotovo"] != "")
                {
                    <div class="success">@ViewData["hotovo"]</div>
                }
                <input value="Přihlásit se" type="submit"/>
            </form>
        </section>
        <section>
            <a class="inline button" asp-action="Registrace">Přejít na registraci</a>
            <a class="inline button" asp-action="ZapomenuteHeslo">Obnovit heslo</a>
        </section>
    </div>
</article>
