@{
    ViewData["Title"] = "Registrace";
}

<article>
    <div class="container">
        <h2>Zaregistruj se</h2>
        <section>
            <form asp-action="Registrace" asp-controller="Uzivatel" method="post">
                <input name="trida" placeholder="Zadejte třídu..." type="text"/>
                <input name="mail" placeholder="zadejte svůj e-mail..." type="email"/>
                <input name="heslo" placeholder="Zadejte heslo..." type="password"/>
                <input name="hesloZnovu" placeholder="zadejte znovu heslo..." type="password"/>
                @if (ViewData["chyba"] != "")
                {
                    <div class="error">@ViewData["chyba"]</div>
                }
                @if (ViewData["hotovo"] != "")
                {
                    <div class="success">@ViewData["hotovo"]</div>
                }
                <input value="Registrovat se" type="submit"/>
            </form>
        </section>
        
        <section>
            <a class="inline button" asp-action="Prihlaseni">Přejít na přihlášení</a>
        </section>
    </div>
</article>
