@{
    ViewData["Title"] = "Tutoriály";
}

<article>
    <section>
        <p>Zde se budou zobrazovat tutoriály z databáze</p>
        <!-- 
            TODO: Model pro tutoriály, databáze
            TODO: Pokud to bude crowdsource tak nějaký editor a moderaci. Nějak se domluvíme.
        -->
    </section>
</article>
