@{
    ViewData["Title"] = "Tutoriály";
}

<article>
    <div class="container">
        <section>
            <p>Zde se budou zobrazovat tutoriály z databáze</p>
            <!-- 
            TODO: Model pro tutoriály, databáze
            TODO: Pokud to bude crowdsource tak nějaký editor a moderaci. Nějak se domluvíme.
            -->
        </section>
    </div>
</article>
