@using Microsoft.AspNetCore.WebUtilities
@model ErrorViewModel
@{
    ViewData["Title"] = "Chyba";
}

<h2 class="text-danger">Při vyřizování požadavku nastala chyba.</h2>
@if (ViewData["Code"] != null && ViewData["Code"].ToString().Length != 0 )
{
    <h2>@ViewData["Code"] - @ReasonPhrases.GetReasonPhrase((int)ViewData["Code"])</h2>
}

@if (Model.ShowRequestId)
{
    <p>
        <i><strong>ID požadavku:</strong> <code>@Model.RequestId</code></i>
    </p>
}
