@{
    ViewData["Title"] = "Administrátorský panel";
}

<article>
    <section>
        <h2>Správa obsahu</h2>
        <p><a asp-action="Reporty">Správa reportů</a></p>
    </section>
    
    <section>
        <h2>Správa uživatelů</h2>
        <div> @*tabulka na správu uživatelů*@
            @foreach (UserModel uzivatelskeData in Model)
            {
                <div> @*tohle je jeden uživatel v tabulce správy uživatelů*@
                    <h3>@uzivatelskeData.mail</h3>
                    @if (!uzivatelskeData.jeAdmin)
                    {    
                        <a>Udělat adminem</a>
                    } else
                    {
                        <p>Uživatel je již adminem!</p>
                    }
                    <a>Nějaký tlačítko</a> @*Sem si backend tým dodělá požadovanou funkcionalitu*@
                    <a>Další tlačítko</a>
                </div>
            }
        </div>
    </section>
</article>