@{
    ViewData["Title"] = "Administrátorský panel";
}

<article>
    <section>
        <h2>Správa obsahu</h2>
        <p><a asp-action="Reporty">Správa reportů</a></p>
    </section>
    
    <section>
        <h2>Správa uživatelů</h2>
        <p>...</p>
    </section>
</article>