@{
    ViewData["Title"] = "Nahlásit Problém";
}

<article>
    <section>
        <form action="/CrowdSource/NahlasitProblem" method="post">
            <label>Nadpis</label>
            <br/>
            <input required type="text" name="title" placeholder="Nadpis..." />

            <br />
            <label>Text</label>
            <br />
            <textarea required type="text" name="text" placeholder="Text..."></textarea>
            <br />
            <button type="submit">Vytvořit</button>
        </form>
    </section>
</article>
