@model List<UserModel>
@{
    ViewData["Title"] = "Administrátorský panel";
}

<article>
    <section>
        <h2>Správa uživatel</h2>
    </section>
    
    <section>
        <div> @*tabulka na správu uživatelů*@
            @foreach (UserModel uzivatelskeData in Model)
            {
                <p>Uzivatel</p>
            }
        </div>
    </section>
</article>