@{
    ViewData["Title"] = "Administrátorský panel";
}

<div>
    <div>
        <a asp-controller="AdminDashboard" asp-action="SpravovatUzivatele">Spravovat uživatele</a>
    </div>
    <div>
        <a asp-controller="AdminDashboard" asp-action="SpravaStiznosti">Spravovat stížnosti</a>
    </div>
    <div>
        <a asp-controller="AdminDashboard" asp-action="PridatClanek">Přidat článek</a>
    </div>
</div>
       