@{
    ViewData["Title"] = "Administrátorský panel";
}

<article>
    <section>
        <a asp-controller="AdminDashboard" asp-action="SpravovatUzivatele">Spravovat uživatele</a> <br />
        <a asp-controller="AdminDashboard" asp-action="SpravaStiznosti">Spravovat stížnosti</a>
        
    </section>
</article>