@{
    ViewData["Title"] = "Administrátorský panel";
}

<article>
    <section>
        <a asp-controller="AdminDashboard" asp-action="SpravovatUzivatele">Spravovat uživatele</a>
    </section>
</article>