@{
    ViewData["Title"] = "Administrátorský panel";
}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">


<div id="editor">
    <p>Článek</p>
    <p><br></p>
</div>
<form action="/AdminDashboard/UlozitStravovaciZarizeni" method="post">
    <label>Vytvořit stravovací zařízení.</label> <br>
    <input required name="nazev" placeholder="Zadejte název..." type="text" /><br />
    <input required name="adresa" placeholder="Zadejte adresu..." type="text" /><br />
    <input required name="odkazNaMenu" placeholder="Zadejte odkaz na menu..." type="text" /><br />
    <input id="delta" name="popis" style="display:none" type="text" /><br />
    <input onclick="saveToDb()" value="Uložit čkánek" type="submit" />
</form>
<br />
<form action="/AdminDashboard/PridatAutomat" method="post">
    <label>Vytvořit automat.</label> <br>
    <input required name="budova" placeholder="Zadejte budovu..." type="text" /><br />
    <input required name="patro" placeholder="Zadejte patro..." type="text" /><br />
    <input required name="typ" placeholder="Zadejte typ..." type="text" /><br />
    <label for="bagety" style="display:inline">Bagety jsou v automatu.:</label>

    <input name="bagety" type="checkbox" value="true" /><br />
    <input required name="bagety" placeholder="Zadejte odkaz na menu..." type="text" /><br />
    <input name="budovaID" placeholder="Zadejte id budovy jenom pokuď více budov mají identické jméno..." type="text" /><br />
    <input onclick="saveToDb()" value="Uložit čkánek" type="submit" />
</form>


<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    var quill = new Quill('#editor', {
        theme: 'snow'
    });
    
    function saveToDb(){
        var delta = quill.getContents()
        var html = JSON.stringify(delta);
        var url = window.location.origin;
        document.getElementById("delta").value = html;
        console.log(document.getElementById("delta").value);
    }
</script>