@model List<UzivatelModel>
@{
    ViewData["Title"] = "Administrace";
}


<h2>Správa uživatelů</h2>
    
<div> @*tabulka na správu uživatelů*@
    <div>
        <form action="/AdminDashboard/VytvoritUzivatele" method="post">
            <label>Vytvořit uživatele</label> <br>
            <input required name="mail" placeholder="Zadejte e-mail..." type="email" /><br />
            <input name="trida" placeholder="Zadejte tridu..." type="text" /><br />
            <label for="jeAdmin" style="display:inline">Uživatel bude administrátor:</label>
            <input name="jeAdmin" type="checkbox" value="true" /><br />
            <input required name="heslo" placeholder="Zadejte heslo..." type="text" /><br />
            <input value="Vytvořit uživatele" type="submit" />
        </form>
    </div>

    <h3>Uživatelé:</h3>

    <div>
        @foreach (UzivatelModel uzivatelskeData in Model)
        {
            <div>
                @*tohle je jeden uživatel v tabulce správy uživatelů*@
                <h3>@uzivatelskeData.Mail</h3>
                @if (uzivatelskeData.JeAdmin)
                {
                    <p>Admin</p>

                }
                else
                {
                    <p>Uživatel</p>
                }
                <div>
                @if(uzivatelskeData.Mail != "senkyr@spstrutnov.cz")
                {
                    <a href="/AdminDashboard/DeleteUzivatele/@uzivatelskeData.Id">Smazat</a>
                }
                @if (uzivatelskeData.JeAdmin && uzivatelskeData.Mail != "senkyr@spstrutnov.cz")
                {
                    <a href="/AdminDashboard/OdebratUzivateleAdmina/@uzivatelskeData.Id">Odebrat administrátorská oprávění</a>
                }
                else
                {                        
                    <a href="/AdminDashboard/UdelatUzivateleAdminem/@uzivatelskeData.Id">Povýšit na administrátora</a>
                }
                </div> @*<-- NA TENHLE DIV SPODNÍ MARGIN!!*@
            </div>
        }
    </div>
</div>
