@{
    ViewData["Title"] = "Skolni";
    Layout = "3Dhead";
}
<h1>@ViewData["Skolni"]</h1>

<body>
    <canvas id="bg"></canvas>

<script type="module" src="/js/budovy.js"></script>
<script>
    var t = false;
    function schovat(){
        t = !t;
        if(t){
            document.getElementById('vyber').style.display = "none";
            document.getElementById('scho').innerHTML = "Zobrazit nabídku"
        }
        else{
            document.getElementById('vyber').style.display = "grid";
            document.getElementById('scho').innerHTML = "Schovat nabídku"
        }}
</script>
</body>