@{
    ViewData["Title"] = "Budovy";
}
<div id="budovyNav">
    <h1>@ViewData["Title"]</h1>
    <nav class="vpravo">
        <button type="button" id="priz">Přízemí</button>
        <button type="button" id="1pat">1.Patro</button>
        <button type="button" id="2pat">2.Patro</button>
        <button type="button" id="3pat">3.Patro</button>
        <button type="button" id="vsec">Celá budova</button>
    </nav>
</div>

<div id="renderContainer">
    <div id="renderer"></div> @* Tady se renderuje canvas *@

    <div id="loadingContainer">
        <label for="loadingProgress">Načítání...</label>
        <progress id="loadingProgress" min="0" max="100" value="0"></progress>
    </div>

    <div id="roomContainer">
      <h2>Info o místnosti</h2>
      <img src="/ob/logo.png" alt="">
      <p style="word-wrap: break-word;" id="roomInfo"></p>
    </div>
    
    <div id="blocker">
        <div id="instructions">
            <p style="font-size:36px">
                Klikni pro spuštění
            </p>
            <p>
                Pohyb: WASD<br/>
                Nahoru: SPACE<br/>
                Dolů: C<br/>
                Rozhlížení: MYŠ
            </p>
        </div>
    </div>
</div>

@* <script>
    var t = false;
    function schovat(){
        t = !t;
        if(t){
            document.getElementById('vyber').style.display = "none";
            document.getElementById('scho').innerHTML = "Zobrazit nabídku"
        }
        else{
            document.getElementById('vyber').style.display = "grid";
            document.getElementById('scho').innerHTML = "Schovat nabídku"
        }}
</script> *@