@{
    ViewData["Title"] = "Budovy";
    Layout = "3Dhead";
}
<h1>@ViewData["Title"]</h1>

    @* Progres bar bude chtít trochu překopat *@
    @* <div class="procentaNacitaniContainer">
        <label for="procentaNacitani">Načítá se...</label>
        <progress id="Nacteno" value="0" max="100"></progress>
    </div> *@
    

<div id="blocker">
    <div id="instructions">
        <p style="font-size:36px">
        	Klikni pro spuštění
        </p>
        <p>
        	Pohyb: WASD<br/>
            Nahoru: SPACE<br/>
            Dolů: C<br/>
        	Rozhlížení: MYŠ
        </p>
    </div>
</div>
<div id="3dContainer"></div>



<script type="module" src="/js/budovy.js"></script>
<script>
    var t = false;
    function schovat(){
        t = !t;
        if(t){
            document.getElementById('vyber').style.display = "none";
            document.getElementById('scho').innerHTML = "Zobrazit nabídku"
        }
        else{
            document.getElementById('vyber').style.display = "grid";
            document.getElementById('scho').innerHTML = "Schovat nabídku"
        }}
</script>