@{
    ViewData["Title"] = "Budovy školy";
}

<article>
    <section>
        <a asp-action="Skolni101">Školní 101</a>
        <a asp-action="Horska618">Horská 618</a>
        <a asp-action="Horska59">Horská 59</a>
        <a asp-action="Buky">Mladé Buky</a>
    </section>
</article>