@model List<AutomatyModel>
@{
    ViewData["Title"] = "Automaty";
}

<article>
    <section>
        @foreach(AutomatyModel automat in Model){
            <section style ="border-top: #223974 solid 3px">
                <h3 style="text-align: center">@automat.Budova</h3>
                <div style="text-align: center">
                    <p>@automat.Typ</p>
                    <p>@automat.Bagety</p>
                    <p>@automat.Patro</p>
                </div>
                <div>
                    <section style="border-top: #223974 solid 3px"></section>
                </div>
            </section>
        }
        @if (Model.Count == 0)
        {
            <h3>Žádné data</h3>
        }
    </section>
</article>
