@model List<AutomatyModel>
@{
    ViewData["Title"] = "Automaty";
}

<article>
    <div class="container">
        <section>
            <h2>Seznam automatů</h2>
            @foreach (AutomatyModel automat in Model)
            {
                <div class="borderBottom">
                    <h3>@automat.Budova</h3>
                    <p><b>Typ:</b>@automat.Typ</p>
                    @if (automat.Bagety)
                    {
                        <p>Automat <b>má</b> bagety</p>
                    }
                    else
                    {
                        <p>Automat <b>nemá</b> bagety</p>
                    }
                    <p>Automat se nachází na @automat.Patro. patře</p>
                </div>
            }
            @if (Model.Count == 0)
            {
                <h3>Žádné data</h3>
            }
        </section>
    </div>
</article>
