@model List<StravovaciZarizeniModel>
@{
    ViewData["Title"] = "Stravovací zařízení";
}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">


@foreach(StravovaciZarizeniModel jidelna in Model)
{
    <p>Popis:</p>
    <div style="display: none;" id="hack">@jidelna.popis</div>

}
<div style="display: none;" id="display"></div>
<div class="article" id="article">asdsd</div>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    window.onload = function() {
        var quill = new Quill('#display', {
            modules: {
                toolbar: false
            },
            readOnly: true,
            placeholder: 'Compose an epic...',
            theme: 'snow' // or 'bubble'
        });
        var clanek = document.getElementById("hack").innerHTML;
        console.log(clanek);
        quill.setContents(JSON.parse(clanek), "api")
        var html = quill.root.innerHTML;
        console.log(html)
        document.getElementById("article").innerHTML = html;
    }
</script>
