@{
    ViewData["Title"] = "Nahlášit Problém";
}

<article>
    <section>
        <form action="/Prihlaseni/NahlasitProblem" method="post">
            <input name="nadpis" placeholder="Zadejte nadpis..." type="text"/><br/>
            <textarea name="textKonent" placeholder="Zadejte třídu..." type="text"/><br/>
        </form>
   </section>
</article>


