@{
    ViewData["Title"] = "Přihlášení";
}
<form>
    <input name="prezdivka" placeholder="Zadejte svou přezdívku..." type="text" /><br />
    <input name="heslo" placeholder="Zadejte heslo..." type="password" /><br />
    <input value="Prihlasit se" type="submit" formaction="/prihlaseni/prihlasit" formmethod="post" />
</form>