<form>
    <input name="prezdivka" placeholder="Zadejte své uživatelské jméno..." type="text" /><br />
    <input name="heslo" placeholder="Zadejte heslo..." type="password" /><br />
    <input value="Přihlásit se" type="submit" formaction="/prihlaseni/prihlasit" formmethod="post" />
</form>