<form>
    <input name="mail" placeholder="zadejte svůj e-mail..." type="email" /><br />
    <input name="heslo" placeholder="Zadejte heslo..." type="text" /><br />
    <input value="Prihlasit se" type="submit" formaction="/prihlaseni/prihlasit" formmethod="post" />
</form>