@{
    ViewData["Title"] = "Přihlášení";
}
<article>
   <section>
       <form>
           <input name="mail" placeholder="Zadejte svůj e-mail..." type="email" /><br />
           <input name="heslo" placeholder="Zadejte heslo..." type="password" /><br /><br />
           <input value="Přihlásit se" type="submit" formaction="/prihlaseni/prihlasit" formmethod="post" />
            <p><span>@ViewData["chyba"]</span><span>@ViewData["hotovo"]</span></p>
       </form>

        <p>Nemáš ještě účet, <a asp-action="Registrace"><b>zaregistruj se</b></a></p>
    </section>
</article>