@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@using Microsoft.AspNetCore.Http;
@{
    HttpContext? httpContext = HttpContextAccessor.HttpContext;
    string chyba = httpContext.Session.GetString("chyba");
}
<form>
    <input name="mail" placeholder="zadejte svůj e-mail..." type="email" /><br />
    <input name="trida" placeholder="Zadejte třídu..." type="text" /><br />
    <input name="heslo" placeholder="Zadejte heslo..." type="password"/><br />
    <input name="heslo_znovu" placeholder="zadejte znovu heslo..." type="password"/><br />
    <input value="Registrovat se" type="submit" formaction="/prihlaseni/registrace" formmethod="post"/>
</form>
<p> @chyba</p>
