@{
    ViewData["Title"] = "Registrace";
}

<article>
    <section>
        <form>
            <input name="prezdivka" placeholder="Zadejte svou přezdívku..." type="text"/><br />
            <input name="e_mail" placeholder="zadejte svůj e-mail..." /><br />
            <input name="heslo" placeholder="Zadejte heslo..." type="password"/>
            <input name="heslo_znovu" placeholder="zadejte znovu heslo..." type="password" /><br /><br />
            <input value="Registrovat se" type="submit" formaction="/prihlaseni/registrace" formmethod="post"/>
        </form>
    </section>
</article>
