@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@using Microsoft.AspNetCore.Http;
@{
    HttpContext? httpContext = HttpContextAccessor.HttpContext;
    string chyba = httpContext.Session.GetString("chyba");
    ViewData["Title"] = "Registrace";
}

<article>
    <section>
        <form>
            <input name="trida" placeholder="Zadejte třídu..." type="text"/><br/>
            <input name="mail" placeholder="zadejte svůj e-mail..."/><br/>
            <input name="heslo" placeholder="Zadejte heslo..." type="password"/><br/>
            <input name="heslo_znovu" placeholder="zadejte znovu heslo..." type="password"/><br/><br/>
            <input value="Registrovat se" type="submit" formaction="/prihlaseni/registrace" formmethod="post"/>
            <p>@chyba</p>
        </form>
        
        <p>Máš už účet, <a asp-action="prihlasit"><b>přihlas se</b></a></p>
    </section>
</article>
