@{
    ViewData["Title"] = "Registrace";
}

<form>
    <input name="prezdivka" placeholder="Zadejte svou přezdívku..." type="text"/><br />
    <input name="e_mail" placeholder="zadejte svůj e-mail..."/>
    <input name="heslo" placeholder="Zadejte heslo..." type="password"/><br />
    <input name="heslo_znovu" placeholder="zadejte znovu heslo..." type="password"/><br />
    <input value="Registrovat se" type="submit" formaction="/prihlaseni/registrace" formmethod="post"/>
</form>
