<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Zapomenuté heslo</title>
    <link rel="stylesheet" type="text/css" href="/css/zapomenuteheslo.css">
</head>
<body>
    <article>
        <section>
            <form action="/Prihlaseni/ZapomenuteHeslo" method="post">
                <input type="email" placeholder="Zadejte e-mail..." name="mail" /><br />
                <input name="heslo" placeholder="Zadejte heslo..." type="password" /><br />
                <input name="hesloZnovu" placeholder="Zadejte znovu heslo..." type="password" /><br /><br />
                <input type="submit" value="Obnovit heslo" />
            </form>
            <p><span>@ViewData["chyba"]</span><span>@ViewData["hotovo"]</span></p>
        </section>
    </article>
</body>
</html>
