body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}


article {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #007bff;
}

section {
    margin-bottom: 20px;
}

div {
    font-weight: bold;
    margin-bottom: 10px;
}

form {
    margin-top: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #223974;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

span {
    font-weight: bold;
}

    span.error {
        color: #ff0000;
    }

    span.success {
        color: #008000;
    }
