
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}


article {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form {
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #223974;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


span.error,
span.success {
    font-weight: bold;
}

span.error {
    color: #ff0000;
}

span.success {
    color: #008000;
}


a {
    text-decoration: none;
    color: #007bff;
}

    a:hover {
        text-decoration: underline;
    }
