@inject IHttpContextAccessor HttpContextAccessor;
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Úvod";
    HttpContext? httpContext = HttpContextAccessor.HttpContext;
    bool pristupOveren = (httpContext != null) && (httpContext.Session.GetString("prihlasen") == "Ano");
    string prihlaseny_uzivatel = httpContext.Session.GetString("uzivatel");
}
<article>
    <section>
        <div class="novinky"> @* Novinky, doporučené články atd.. "isic nebo aktuály školy" *@
            <h2>tohle jsou krutý novinky</h2>
        </div> 
        <h2>Indexin'</h2>
        
    </section>
</article>
