@inject IHttpContextAccessor HttpContextAccessor;
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Úvod";
    HttpContext? httpContext = HttpContextAccessor.HttpContext;
    bool pristupOveren = (httpContext != null) && (httpContext.Session.GetString("prihlasen") == "Ano");
    string prihlaseny_uzivatel = httpContext.Session.GetString("uzivatel");
}
<div class="novinky"> @* Novinky, doporučené články atd.. "isic nebo aktuály školy" *@
    <h1>tohle jsou krutý novinky</h1>
</div> 
<h1>Indexin'</h1>