@{
    ViewData["Title"] = "Nahlásit Problém";
}

<article>
    <div class="container">
        <section>
            <h2>Napsat stížnost</h2>
            <form asp-action="NahlasitProblem" asp-controller="Stiznosti" method="post">
                <input required type="text" name="title" placeholder="Nadpis..."/>
                <input required type="text" name="text" placeholder="Text...">
                <input type="submit" value="Odeslat"/>
            </form>
        </section>
    </div>
</article>